@page
@model QLSP.Pages.MH_DanhSachHoaDonBanModel
@using QLSP.Entities;




<h1>Danh Sách Hóa Đơn Bán</h1>
<table class="table table-striped table-hover  align-middle col">
    <tr>
        <td class="col-6">
            <h5>Tìm kiếm</h5>
            <form method="POST">
            <input type="text" class="form-control w-100" name="keyword" id="keyword" placeholder="Nhập từ khóa cần tìm kiếm">
            <button type="submit" class="btn btn-primary w-40 mt-2">Tìm kiếm theo mã hóa đơn</button>
            </form>
        </td>
        <td class="col-6">
            <button type="button" onclick="location.href='\MH_TaoHoaDonBan';" class="btn btn-success w-40 mt-2 float-end">
            Thêm hóa đơn bán</button>
        </td>
    </tr>
</table>

<div class="table-responsive">
<table class="table table-hover border-black table-success align-middle col table-bordered">
    <thead class="table-light py-2">
            <caption></caption>
            <tr class="py-5 h-100">
                <th>Mã hóa đơn</th>
                <th>Ngày tạo hóa đơn</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Giá/đơn vị</th>
                <th>Thành tiền</th>
                <th>Tổng cộng</th>
                <th colspan="2">Thao tác</th>
            </tr>
            </thead>
    
        @for(int i=0; i<@Model.DanhSachHoaDonBan.Length; i++)
        {
                <tr class="table-light">
                <td rowspan="@Model.DanhSachHoaDonBan[i].ChiTietHoaDon.Length">@Model.DanhSachHoaDonBan[i].MaHoaDonBan</td>
                <td rowspan="@Model.DanhSachHoaDonBan[i].ChiTietHoaDon.Length">@Model.DanhSachHoaDonBan[i].NgayTaoHoaDonBan.ToString("dd/MM/yyyy")</td>
                    @for(int j=0; j<1; j++)
                    {
                        <td>@Model.DanhSachHoaDonBan[i].ChiTietHoaDon[j].MaSanPham</td>
                        <td>@Model.DanhSachHoaDonBan[i].ChiTietHoaDon[j].TenSanPham</td>
                        <td>@Model.DanhSachHoaDonBan[i].ChiTietHoaDon[j].SoLuong</td>
                        <td>@Model.DanhSachHoaDonBan[i].ChiTietHoaDon[j].Gia</td>
                        <td>@Model.DanhSachHoaDonBan[i].ChiTietHoaDon[j].ThanhTien</td>
                    }
                <td rowspan="@Model.DanhSachHoaDonBan[i].ChiTietHoaDon.Length">@Model.DanhSachHoaDonBan[i].TongGiaTriHoaDonBan</td>
                <td rowspan="@Model.DanhSachHoaDonBan[i].ChiTietHoaDon.Length"><button type="submit" class="btn btn-primary w-100" onclick="location.href = '/MH_SuaHoaDonBan?MaHoaDonBanCanSua=@Model.DanhSachHoaDonBan[i].MaHoaDonBan';">Sửa</button></td>
                <td rowspan="@Model.DanhSachHoaDonBan[i].ChiTietHoaDon.Length"><button type="submit" class="btn btn-danger w-100" onclick="location.href = '/MH_XoaHoaDonBan?MaHoaDonBanCanXoa=@Model.DanhSachHoaDonBan[i].MaHoaDonBan';">Xóa</button></td> 
                </tr>
                
                    @for(int j=1; j<@Model.DanhSachHoaDonBan[i].ChiTietHoaDon.Length; j++)
                    {
                        <tr class="table-light">
                        <td>@Model.DanhSachHoaDonBan[i].ChiTietHoaDon[j].MaSanPham</td>
                        <td>@Model.DanhSachHoaDonBan[i].ChiTietHoaDon[j].TenSanPham</td>
                        <td>@Model.DanhSachHoaDonBan[i].ChiTietHoaDon[j].SoLuong</td>
                        <td>@Model.DanhSachHoaDonBan[i].ChiTietHoaDon[j].Gia</td>
                        <td>@Model.DanhSachHoaDonBan[i].ChiTietHoaDon[j].ThanhTien</td>
                        </tr>
                    }

                
                
        }
    
</table>
</div>
